
@import "partials/fonts";

html {
  background-color: #FAFAFA;
  background-image:   url(../img/audience.png),  url(../img/background.png);
  background-position:  left bottom -8em,   top; /* same as .frontrow bottom */
  background-attachment: fixed;
}

.comic-book-loaded body {
  font-family: 'Comic Book', 'Comic Sans MS', cursive;
}

body {
  font-family: cursive;
  text-align: center;
  font-size: 140%;

  width: 35em;
  margin: auto;
  box-sizing: border-box;
}

html, section {
  background-repeat: no-repeat;
  background-size: 100%;
}

section {
  margin-bottom: -1em;
}

p, ul {
  text-align: left;
}

.frontrow {
  position: fixed;
  bottom: -8em; /* same as body background-position */
  width: 32%;
}

.frontrow.left {
  left: 0;
}

.frontrow.right {
  right: 0;
}

.intro {
  font-weight: lighter;
}

iframe {
  width: 100%;
}

#logo {
  max-width: 50%;
  margin-top: 30%;
  margin-bottom: 15%;

  -webkit-animation-delay: 2s;
      animation-delay: 2s;
}

#announcement {
  background-image: url(../img/agenda.png);
  padding: 5em 5em 4em 5em;
  min-height: 33em;
}

.vevent .year, .vevent .url {
  visibility: hidden;
}

.vevent .month, .vevent .location {
  display: block;
}

.vevent .location {
  border: 2px solid #AAA;
  border-radius: .5em;
}

.vevent time, .vevent .month {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 180%;
  color: #900;
  font-weight: bold;
  position: relative;
  left: .1em;

  -webkit-text-stroke: .03em #300;
}

.vevent time {
  font-size: 350%;
}

#video {
  background-image: url(../img/phone.png);

  -webkit-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
      transform: rotateZ(4deg);
}

/** this set of instructions to keep iframe image ratio **/
#video {
  position: relative;
}

#video:after {
  content: " ";
  display: block;
  padding-top: 50.55%; /* background-image ratio  */
}

#video iframe {
  position: absolute;
  height: 85%;
  width: 77%;
  top: 8%;
  left: 11.5%;
}
/** end of iframe image ratio code **/

#definition {
  background-image: url(../img/paper.png);
  background-size: 100% 100%;
  padding: 1em 3em;
  min-height: 23em;
}

#definition ul {
  padding: 0;
}

#definition li {
  list-style-type: none;
}

#definition li::before {
  content: "✔︎";
  margin-left: -1.75em;
  margin-right: .75em;
}

#ticket {
  background-image: url(../img/tickets.png);
  padding-top: 15em;
}

#ticket iframe {
  border: #333 2px inset;
  height: 34em;
}

.folded {
  background-color: white;
  padding: .5em;
  border: 1px outset #999;
}

#directions {
  position: relative;
  height: 18em;

  -webkit-transform: rotateZ(-3deg);
    -ms-transform: rotateZ(-3deg);
      transform: rotateZ(-3deg);
}

#directions:target {
  z-index: 1;
  position: absolute;
  height: 95%;
  width: 90%;
  left: 5%;
  top: 1%;

  -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
}

#directions iframe {
  height: 100%;
}

#directions, #directions iframe {
  -webkit-transition: 1s all;
     -moz-transition: 1s all;
    -ms-transition: 1s all;
      transition: 1s all;
}

#directions a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  position: absolute;
  top: .5em;
  right: .75em;
  text-shadow: #FFF 0 0 .2em;
}

#directions a[href="#map"], #directions:target a[href="#directions"] {
  display: none;
}

#directions a[href="#directions"], #directions:target a[href="#map"] {
  display: block;
}

#cfp {
  font-size: 120%;
  background-image: url(../img/lanyard.png);
  padding: 14em 6em 4em 8em;
}

#cfp p {
  text-align: center;
}

#cfp .cta {
  font-weight: bold;
  color: #C52;
  border: 2px solid #C52;
  border-radius: .2em;
  margin-top: 2em;

  -webkit-transition: .5s color, .5s background-color;
     -moz-transition: .5s color, .5s background-color;
    -ms-transition: .5s color, .5s background-color;
      transition: .5s color, .5s background-color;
}

#cfp .cta:hover {
  background-color: #C52;
  color: black;
}

#cfp a {
  padding: .5em 1em;
  display: block;
  color: inherit;
  text-decoration: none;
}


@media screen and (min-width: 1600px) {
  body { font-size: 180%; }
}

@media screen and (max-width: 1024px) {
  body { font-size: 100%; }
}

@media screen and (max-width: 768px), (min-resolution: 2dppx) and (max-width: 1536px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1536px) {
  body {
    font-size: 80%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  #definition {
    padding: 1em 2.5em;
  }

  #directions {
    height: 50%;
  }
}
