@font-face {
    font-family: 'Coming Soon';
    src: url('ComingSoon-webfont.eot');
    src: url('ComingSoon-webfont.eot?#iefix') format('embedded-opentype'),
         url('ComingSoon-webfont.woff2') format('woff2'),
         url('ComingSoon-webfont.woff') format('woff'),
         url('ComingSoon-webfont.ttf') format('truetype'),
         url('ComingSoon-webfont.svg#coming_soonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}